<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BillingApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="BillingApplication.Properties.Settings.companyConn1"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Company;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=password123;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="BillingApplication.Properties.Settings.companyConn"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Company;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=password123;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="BillingApplication.Properties.Settings.CompanyConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Company;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=password123;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <BillingApplication.Properties.Settings>
            <setting name="DDEntryPaymentMode" serializeAs="String">
                <value>Local Clearing,Outward Clearing,Outward Cash Deposit</value>
            </setting>
            <setting name="LRno" serializeAs="String">
                <value>42, 221</value>
            </setting>
            <setting name="LRDate" serializeAs="String">
                <value>64, 221</value>
            </setting>
            <setting name="Agent" serializeAs="String">
                <value>45, 238</value>
            </setting>
            <setting name="Address" serializeAs="String">
                <value>0, 35</value>
            </setting>
            <setting name="PartyName" serializeAs="String">
                <value>0, 178</value>
            </setting>
            <setting name="Pin" serializeAs="String">
                <value>0, 350</value>
            </setting>
            <setting name="Item" serializeAs="String">
                <value>0, 371</value>
            </setting>
            <setting name="Qty" serializeAs="String">
                <value>58, 26.5</value>
            </setting>
            <setting name="Cd" serializeAs="String">
                <value>0, 723</value>
            </setting>
            <setting name="Rupees" serializeAs="String">
                <value>2, 785</value>
            </setting>
            <setting name="For" serializeAs="String">
                <value>50, 900</value>
            </setting>
            <setting name="Custom" serializeAs="String">
                <value>2, 880.2287</value>
            </setting>
            <setting name="KumudamMin" serializeAs="String">
                <value>628</value>
            </setting>
            <setting name="VikasMin" serializeAs="String">
                <value>360</value>
            </setting>
            <setting name="MKMin" serializeAs="String">
                <value>315</value>
            </setting>
            <setting name="Font" serializeAs="String">
                <value>Arial</value>
            </setting>
            <setting name="PLFont" serializeAs="String">
                <value>Arial</value>
            </setting>
            <setting name="PLFontSize" serializeAs="String">
                <value>13</value>
            </setting>
            <setting name="PLPlaceColumnWidth" serializeAs="String">
                <value>17.5</value>
            </setting>
            <setting name="PLTopMargin" serializeAs="String">
                <value>0.15</value>
            </setting>
            <setting name="PLBottonMargin" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="PLLeftMargin" serializeAs="String">
                <value>0.15</value>
            </setting>
            <setting name="PLRightMargin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PLDefaultFileLocation" serializeAs="String">
                <value>C:\PENDINGLISTS</value>
            </setting>
            <setting name="Discount1" serializeAs="String">
                <value>Diwali Sweet</value>
            </setting>
            <setting name="PLPartyColumnWidth" serializeAs="String">
                <value>49</value>
            </setting>
            <setting name="CSColumnName" serializeAs="String">
                <value>TOTALWOCD</value>
            </setting>
            <setting name="CSCommissionPercent" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="CSCDPercent" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="TinNo" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="DocTo" serializeAs="String">
                <value>63,253</value>
            </setting>
            <setting name="Invoice" serializeAs="String">
                <value>5, 135</value>
            </setting>
            <setting name="BaleNo" serializeAs="String">
                <value>47, 135</value>
            </setting>
            <setting name="BillDate" serializeAs="String">
                <value>65, 135</value>
            </setting>
            <setting name="OrderNo" serializeAs="String">
                <value>43, 167</value>
            </setting>
            <setting name="OrderDate" serializeAs="String">
                <value>64, 167</value>
            </setting>
            <setting name="FwdBy" serializeAs="String">
                <value>45, 198</value>
            </setting>
            <setting name="FwdTo" serializeAs="String">
                <value>63, 198</value>
            </setting>
            <setting name="Rate" serializeAs="String">
                <value>41, 26.5</value>
            </setting>
            <setting name="Meters" serializeAs="String">
                <value>48, 284.7799</value>
            </setting>
            <setting name="Amount" serializeAs="String">
                <value>68, 26.5</value>
            </setting>
            <setting name="BOB" serializeAs="String">
                <value>29,757</value>
            </setting>
            <setting name="PrintFontSize" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="PrintItemFontSize" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="PrintInvoiceRightFontSize" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="CoverFontSize" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="CoverFont" serializeAs="String">
                <value>Arial</value>
            </setting>
            <setting name="CoverPrintX" serializeAs="String">
                <value>175</value>
            </setting>
            <setting name="CoverPrintY" serializeAs="String">
                <value>125</value>
            </setting>
            <setting name="StateCode" serializeAs="String">
                <value>55,90</value>
            </setting>
            <setting name="DJurisdiction" serializeAs="String">
                <value>15,2</value>
            </setting>
            <setting name="DConsineeAddress" serializeAs="String">
                <value>2,10</value>
            </setting>
            <setting name="DConsineeContact" serializeAs="String">
                <value>32,10</value>
            </setting>
            <setting name="DReceiverAddress" serializeAs="String">
                <value>2,110</value>
            </setting>
            <setting name="DInvoice" serializeAs="String">
                <value>32,110</value>
            </setting>
            <setting name="DParticulars" serializeAs="String">
                <value>8,250</value>
            </setting>
            <setting name="DTotalPairs" serializeAs="String">
                <value>24,220</value>
            </setting>
            <setting name="DHsnCode" serializeAs="String">
                <value>34,220</value>
            </setting>
            <setting name="DAmount" serializeAs="String">
                <value>44,220</value>
            </setting>
            <setting name="DParticularsValue" serializeAs="String">
                <value>2, 245</value>
            </setting>
            <setting name="DTotalPairsValue" serializeAs="String">
                <value>27,245</value>
            </setting>
            <setting name="DHsnCodeValue" serializeAs="String">
                <value>35,245</value>
            </setting>
            <setting name="DAmountValue" serializeAs="String">
                <value>45,245</value>
            </setting>
            <setting name="DIGST" serializeAs="String">
                <value>39.5,270</value>
            </setting>
            <setting name="DDash1" serializeAs="String">
                <value>44,280</value>
            </setting>
            <setting name="DTotalBillValue" serializeAs="String">
                <value>28,305</value>
            </setting>
            <setting name="DDash2" serializeAs="String">
                <value>44,320</value>
            </setting>
        </BillingApplication.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
