USE [Company]
GO
/****** Object:  StoredProcedure [dbo].[SET_INSERTBILLDATA]    Script Date: 7/15/2017 7:36:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Mohan
-- Create date: 19-Dec-2007
-- Description:	Insert the data into bill table
-- =============================================
ALTER PROCEDURE [dbo].[SET_INSERTBILLDATA] @ACCOUNTINGYEAR NVARCHAR(50),@BILLNO INT,@ADDRESS NVARCHAR(50),@BILLDATE DATETIME,@PARTYID INT,
@LRDATE DATETIME,@TOTALWOCD FLOAT,@BALANCE FLOAT,@ITEMPIN BIT,@BALENO NVARCHAR(50),@ORDERNO NVARCHAR(50),@ORDERDATE DATETIME,@FWDBY NVARCHAR(50),
@FWDTO NVARCHAR(50),@AGENT NVARCHAR(50),@LRNO NVARCHAR(50),@DOCSENTMODE NVARCHAR(50),@TOTALMTRS FLOAT, @TOTALQTY INT, @FWDCHARGES FLOAT,@CDDAYS INT,
@CDPERCENT FLOAT,@PIN FLOAT,@CDTXT FLOAT,@SGST FLOAT, @CGST FLOAT, @IGST FLOAT, @TOTALAFTERTAX FLOAT
AS
BEGIN
	DECLARE @SQLSTMT NVARCHAR(4000);
	DECLARE @CRACCOUNTINGYEAR INT;
	DECLARE @BILLTABLENAME NVARCHAR(50);
	SET @CRACCOUNTINGYEAR = LEN(RTRIM(LTRIM(@ACCOUNTINGYEAR)));
	IF(@CRACCOUNTINGYEAR > 0)
		SET @BILLTABLENAME = '[BILLS' + @ACCOUNTINGYEAR + ']';
	ELSE
		SET @BILLTABLENAME = 'BILLS';
	SET @SQLSTMT = 'INSERT INTO ' + @BILLTABLENAME + ' (BILLDATE,PARTYID,LRDATE,TOTALWOCD,BALANCE,ITEMPIN,BALENO,ORDERNO,ORDERDATE,FWDBY,FWDTO,AGENT,
					LRNO,DOCSENTMODE,TOTALMTRS,TOTALQTY,FWDCHARGES,CDDAYS,CDPERCENT,PIN,CDTXT,SGST,CGST,IGST,TOTALAFTERTAX,BILLNO,ADDRESS) VALUES (';
	SET @SQLSTMT = @SQLSTMT + '''' + CONVERT(NVARCHAR(10),@BILLDATE,101) + ''',' + CONVERT(NVARCHAR(10),@PARTYID) + ',''' + CONVERT(NVARCHAR(10),@LRDATE,101) + ''',' + CONVERT(NVARCHAR(10),@TOTALWOCD) + ',' + CONVERT(NVARCHAR(10),@BALANCE) +  ',' + CONVERT(NVARCHAR(10),@ITEMPIN) + ',''' + @BALENO + '''';
	IF(@ORDERNO IS NOT NULL AND LEN(RTRIM(LTRIM(@ORDERNO))) > 0)
		SET @SQLSTMT = @SQLSTMT + ',''' + @ORDERNO + '''';
	ELSE
		SET @SQLSTMT = @SQLSTMT + ',NULL';
	IF(@ORDERDATE IS NOT NULL)
		SET @SQLSTMT = @SQLSTMT + ',''' + CONVERT(NVARCHAR(10),@ORDERDATE,101) + '''';
	ELSE
		SET @SQLSTMT = @SQLSTMT + ',NULL';
	IF(@FWDBY IS NOT NULL AND LEN(RTRIM(LTRIM(@FWDBY))) > 0)
		SET @SQLSTMT = @SQLSTMT + ',''' + @FWDBY + '''';
	ELSE
		SET @SQLSTMT = @SQLSTMT + ',NULL';
	IF(@FWDTO IS NOT NULL AND LEN(RTRIM(LTRIM(@FWDTO))) > 0)
		SET @SQLSTMT = @SQLSTMT + ',''' + @FWDTO + '''';
	ELSE
		SET @SQLSTMT = @SQLSTMT + ',NULL';
	IF(@AGENT IS NOT NULL AND LEN(RTRIM(LTRIM(@AGENT))) > 0)
		SET @SQLSTMT = @SQLSTMT + ',''' + @AGENT + '''';
	ELSE
		SET @SQLSTMT = @SQLSTMT + ',NULL';
	IF(@LRNO IS NOT NULL AND LEN(RTRIM(LTRIM(@LRNO))) > 0)
		SET @SQLSTMT = @SQLSTMT + ',''' + @LRNO + '''';
	ELSE
		SET @SQLSTMT = @SQLSTMT + ',NULL';
	IF(@DOCSENTMODE IS NOT NULL AND LEN(RTRIM(LTRIM(@DOCSENTMODE))) > 0)
		SET @SQLSTMT = @SQLSTMT + ',''' + @DOCSENTMODE + '''';
	ELSE
		SET @SQLSTMT = @SQLSTMT + ',NULL';
	IF(@TOTALMTRS IS NOT NULL AND @TOTALMTRS > 0)
		SET @SQLSTMT = @SQLSTMT + ',' + CONVERT(NVARCHAR(10),@TOTALMTRS);
	ELSE
		SET @SQLSTMT = @SQLSTMT + ',NULL';
	IF(@TOTALQTY IS NOT NULL AND @TOTALQTY > 0)
		SET @SQLSTMT = @SQLSTMT + ',' + CONVERT(NVARCHAR(10),@TOTALQTY);
	ELSE
		SET @SQLSTMT = @SQLSTMT + ',NULL';
	IF(@FWDCHARGES IS NOT NULL AND @FWDCHARGES > 0)
		SET @SQLSTMT = @SQLSTMT + ',' + CONVERT(NVARCHAR(10),@FWDCHARGES);
	ELSE
		SET @SQLSTMT = @SQLSTMT + ',NULL';
	IF(@CDDAYS IS NOT NULL AND @CDDAYS > 0)
		SET @SQLSTMT = @SQLSTMT + ',' + CONVERT(NVARCHAR(10),@CDDAYS);
	ELSE
		SET @SQLSTMT = @SQLSTMT + ',NULL';
	IF(@CDPERCENT IS NOT NULL AND @CDPERCENT > 0)
		SET @SQLSTMT = @SQLSTMT + ',' + CONVERT(NVARCHAR(10),@CDPERCENT);
	ELSE
		SET @SQLSTMT = @SQLSTMT + ',NULL';
	IF(@PIN IS NOT NULL AND @PIN > 0)
		SET @SQLSTMT = @SQLSTMT + ',' + CONVERT(NVARCHAR(10),@PIN);
	ELSE
		SET @SQLSTMT = @SQLSTMT + ',NULL';
	IF(@CDTXT IS NOT NULL AND @CDTXT > 0)
		SET @SQLSTMT = @SQLSTMT + ',' + CONVERT(NVARCHAR(10),@CDTXT);
	ELSE
		SET @SQLSTMT = @SQLSTMT + ',NULL';

	IF(@SGST IS NOT NULL AND @SGST > 0)
		SET @SQLSTMT = @SQLSTMT + ',' + CONVERT(NVARCHAR(10),@SGST);
	ELSE
		SET @SQLSTMT = @SQLSTMT + ',NULL';
	IF(@CGST IS NOT NULL AND @CGST > 0)
		SET @SQLSTMT = @SQLSTMT + ',' + CONVERT(NVARCHAR(10),@CGST);
	ELSE
		SET @SQLSTMT = @SQLSTMT + ',NULL';
	IF(@IGST IS NOT NULL AND @IGST > 0)
		SET @SQLSTMT = @SQLSTMT + ',' + CONVERT(NVARCHAR(10),@IGST);
	ELSE
		SET @SQLSTMT = @SQLSTMT + ',NULL';
	IF(@TOTALAFTERTAX IS NOT NULL AND @TOTALAFTERTAX > 0)
		SET @SQLSTMT = @SQLSTMT + ',' + CONVERT(NVARCHAR(10),@TOTALAFTERTAX);
	ELSE
		SET @SQLSTMT = @SQLSTMT + ',NULL';


	SET @SQLSTMT = @SQLSTMT + ',' + CONVERT(NVARCHAR(5),@BILLNO) + ',''' + @ADDRESS + ''')';
	--insert into test (stmt) values (@SQLSTMT);
	EXECUTE sp_executesql @SQLSTMT;
END
