USE [Company]
GO
/****** Object:  StoredProcedure [dbo].[GET_BILLDATA]    Script Date: 7/15/2017 8:08:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Mohan
-- Create date: 19-Dec-2007
-- Description:	Update the bill table
-- =============================================
ALTER PROCEDURE [dbo].[GET_BILLDATA] @BILLNO INT,@ADDRESS NVARCHAR(50),@ACCOUNTINGYEAR NVARCHAR(50)
AS
BEGIN
	DECLARE @SQLSTMT NVARCHAR(4000);
	DECLARE @CRACCOUNTINGYEAR INT;
	DECLARE @BILLTABLENAME NVARCHAR(50);
	SET @CRACCOUNTINGYEAR = LEN(RTRIM(LTRIM(@ACCOUNTINGYEAR)));
	IF(@CRACCOUNTINGYEAR > 0)
		SET @BILLTABLENAME = '[BILLS' + @ACCOUNTINGYEAR + ']';
	ELSE
		SET @BILLTABLENAME = 'BILLS';
	SET @SQLSTMT = 'SELECT     BILLNO, ADDRESS, BILLDATE, PARTYID, ORDERNO, ORDERDATE, FWDBY, FWDTO, AGENT, LRNO, LRDATE, DOCSENTMODE, TOTALWOCD, 
                      TOTALMTRS, TOTALQTY, FWDCHARGES, BALANCE, CDDAYS, CDPERCENT, PIN, ITEMPIN, CDTXT, BALENO, SGST, CGST, IGST, TOTALAFTERTAX
					  FROM ' +  @BILLTABLENAME + ' 
					  WHERE     (BILLNO = ' + CONVERT(NVARCHAR(10),@BILLNO) + ') AND (ADDRESS = ''' + @ADDRESS + ''')'
	EXECUTE sp_executesql @SQLSTMT;
END
