USE [Company]
GO
/****** Object:  StoredProcedure [dbo].[SET_INSERTBILLITEMSDATA]    Script Date: 18-07-2017 01:19:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Mohan
-- Create date: 19-Dec-2007
-- Description:	Insert the data into bill items table
-- =============================================
ALTER PROCEDURE [dbo].[SET_INSERTBILLITEMSDATA] 
	@ACCOUNTINGYEAR NVARCHAR(50),@BILLNO INT,@ADDRESS NVARCHAR(50),@ITEMID INT,@STAMP NVARCHAR(50),@RATE FLOAT,@QTY INT,@MTRS NTEXT,@AMT FLOAT,@PIN FLOAT,@PINNINGLESS FLOAT,@ITEMNO INT, @HSN NVARCHAR(50)
AS
BEGIN
	DECLARE @SQLSTMT NVARCHAR(4000);
	DECLARE @CRACCOUNTINGYEAR INT;
	DECLARE @BILLITEMSTABLENAME NVARCHAR(50);
	
	SET @CRACCOUNTINGYEAR = LEN(RTRIM(LTRIM(@ACCOUNTINGYEAR)));
	IF(@CRACCOUNTINGYEAR > 0)
		SET @BILLITEMSTABLENAME = '[BILLITEMS' + @ACCOUNTINGYEAR + ']';
	ELSE
		SET @BILLITEMSTABLENAME = 'BILLITEMS';
	SET @SQLSTMT = 'INSERT INTO ' + @BILLITEMSTABLENAME + ' (ITEMID,RATE,AMT,QTY,STAMP,HSN,MTRS,PIN,PINNINGLESS,ITEMNO,BILLNO,ADDRESS) VALUES (';
	SET @SQLSTMT = @SQLSTMT + CONVERT(NVARCHAR(10),@ITEMID) + ',' + CONVERT(NVARCHAR(10),@RATE) + ',' + CONVERT(NVARCHAR(10),@AMT) + ',' + CONVERT(NVARCHAR(10),@QTY);
	IF(@STAMP IS NOT NULL AND LEN(RTRIM(LTRIM(@STAMP))) > 0)
		SET @SQLSTMT = @SQLSTMT + ',''' + @STAMP + '''';
	ELSE
		SET @SQLSTMT = @SQLSTMT + ',NULL';
	IF(@HSN IS NOT NULL AND LEN(RTRIM(LTRIM(@HSN))) > 0)
		SET @SQLSTMT = @SQLSTMT + ',''' + @HSN + '''';
	ELSE
		SET @SQLSTMT = @SQLSTMT + ',NULL';
	IF(@MTRS IS NOT NULL AND DATALENGTH(@MTRS) > 0)
		SET @SQLSTMT = @SQLSTMT + ',''' + CONVERT(NVARCHAR(MAX),@MTRS) + '''';
	ELSE
		SET @SQLSTMT = @SQLSTMT + ',NULL';
	IF(@PIN IS NOT NULL AND @PIN > 0)
		SET @SQLSTMT = @SQLSTMT + ',' + CONVERT(NVARCHAR(10),@PIN);
	ELSE
		SET @SQLSTMT = @SQLSTMT + ',NULL';
	IF(@PINNINGLESS IS NOT NULL AND @PINNINGLESS > 0)
		SET @SQLSTMT = @SQLSTMT + ',' + CONVERT(NVARCHAR(10),@PINNINGLESS);
	ELSE
		SET @SQLSTMT = @SQLSTMT + ',NULL';
	IF(@ITEMNO IS NOT NULL AND @ITEMNO > 0)
		SET @SQLSTMT = @SQLSTMT + ',' + CONVERT(NVARCHAR(10),@ITEMNO);
	ELSE
		SET @SQLSTMT = @SQLSTMT + ',NULL';		
	SET @SQLSTMT = @SQLSTMT + ',' + CONVERT(NVARCHAR(5),@BILLNO) + ',''' + @ADDRESS + ''')';
	--insert into test (stmt) values (@SQLSTMT);
	EXECUTE sp_executesql @SQLSTMT;
END


