USE [Company]
GO
/****** Object:  StoredProcedure [dbo].[SET_UPDATEBILLITEMSDATA]    Script Date: 18-07-2017 01:42:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		mohan
-- Create date: 19 - Dec - 2007
-- Description:	update billitems table
-- =============================================
ALTER PROCEDURE [dbo].[SET_UPDATEBILLITEMSDATA]
	@ACCOUNTINGYEAR NVARCHAR(50),@BILLNO INT,@ADDRESS NVARCHAR(50),@ITEMID INT,@STAMP NVARCHAR(50),@RATE FLOAT,@QTY INT,@MTRS NTEXT,@AMT FLOAT,@PIN FLOAT,@PINNINGLESS FLOAT,@ORIGINAL_ITEMID INT,@ITEMNO INT,@ORIGINAL_RATE FLOAT,@HSN NVARCHAR(50)
AS
BEGIN
	DECLARE @SQLSTMT NVARCHAR(4000);
	DECLARE @CRACCOUNTINGYEAR INT;
	DECLARE @BILLITEMSTABLENAME NVARCHAR(50);
	
	SET @CRACCOUNTINGYEAR = LEN(RTRIM(LTRIM(@ACCOUNTINGYEAR)));
	IF(@CRACCOUNTINGYEAR > 0)
		SET @BILLITEMSTABLENAME = '[BILLITEMS' + @ACCOUNTINGYEAR + ']';
	ELSE
		SET @BILLITEMSTABLENAME = 'BILLITEMS';
	SET @SQLSTMT = 'UPDATE ' + @BILLITEMSTABLENAME + ' SET ITEMID = ' + CONVERT(NVARCHAR(10),@ITEMID) + ',';
	SET @SQLSTMT = @SQLSTMT + ' RATE = ' + CONVERT(NVARCHAR(10),@RATE) +
				   ',AMT = ' + CONVERT(NVARCHAR(10),@AMT) + ',QTY = ' + CONVERT(NVARCHAR(10),@QTY);
	IF(@STAMP IS NOT NULL AND LEN(RTRIM(LTRIM(@STAMP))) > 0)
		SET @SQLSTMT = @SQLSTMT + ',STAMP = ''' + @STAMP + '''';
	ELSE
		SET @SQLSTMT = @SQLSTMT + ',STAMP = NULL';
	IF(@HSN IS NOT NULL AND LEN(RTRIM(LTRIM(@HSN))) > 0)
		SET @SQLSTMT = @SQLSTMT + ',HSN = ''' + @HSN + '''';
	ELSE
		SET @SQLSTMT = @SQLSTMT + ',HSN = NULL';
	IF(@MTRS IS NOT NULL AND DATALENGTH(@MTRS) > 0)
		SET @SQLSTMT = @SQLSTMT + ',MTRS = ''' + CONVERT(NVARCHAR(MAX),@MTRS) + '''';
	ELSE
		SET @SQLSTMT = @SQLSTMT + ',MTRS = NULL';
	IF(@PIN IS NOT NULL AND @PIN > 0)
		SET @SQLSTMT = @SQLSTMT + ',PIN = ' + CONVERT(NVARCHAR(10),@PIN);
	ELSE
		SET @SQLSTMT = @SQLSTMT + ',PIN = NULL';
	IF(@PINNINGLESS IS NOT NULL AND @PINNINGLESS > 0)
		SET @SQLSTMT = @SQLSTMT + ',PINNINGLESS = ' + CONVERT(NVARCHAR(10),@PINNINGLESS);
	ELSE
		SET @SQLSTMT = @SQLSTMT + ',PINNINGLESS = NULL';
	IF(@ITEMNO IS NOT NULL AND @ITEMNO > 0)
		SET @SQLSTMT = @SQLSTMT + ',ITEMNO = ' + CONVERT(NVARCHAR(10),@ITEMNO);
	ELSE
		SET @SQLSTMT = @SQLSTMT + ',ITEMNO = NULL';
	SET @SQLSTMT = @SQLSTMT + ' WHERE BILLNO = ' + CONVERT(NVARCHAR(5),@BILLNO) + ' AND ADDRESS = ''' + @ADDRESS + ''' AND ITEMID = ' + CONVERT(NVARCHAR(10),@ORIGINAL_ITEMID) + ' AND RATE = ' + CONVERT(NVARCHAR(5),@ORIGINAL_RATE);
	--insert into test (stmt) values (@SQLSTMT);
	EXECUTE sp_executesql @SQLSTMT;
END



